<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="CredentialSetupComponents" Directory="INSTALLFOLDER">
      <Component Id="AbsoluteIDCredentialSetupExe">
        <File Id="AbsoluteIDCredentialSetupExeFile"
              Name="AbsoluteIDCredentialSetup.exe"
              KeyPath="yes" />
      </Component>
      <Component Id="AbsoluteIDCredentialSetupDll" Guid="*">
        <File Id="AbsoluteIDCredentialSetupDllFile"
              Name="AbsoluteIDCredentialSetup.dll"
              KeyPath="yes">
        </File>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
