<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" 
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx" 
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Id="Delmock.AbsoluteIDInstaller" Name="AbsoluteID" Manufacturer="Delmock Technologies, Inc." Version="1.0.0.0" Compressed="yes" InstallerVersion="500">
    <!-- tell the UI which folder to let the user pick -->
    <!--<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>-->

    <!-- Reference the standard UI first -->
    <ui:WixUI Id="WixUI_InstallDir" />
    <UIRef Id="CustomPasswordUI" />
    
    <!-- pull in your immediate CA -->
    <CustomActionRef Id="SetRunCredentialCA"/>

    <!-- pull in your deferred CA -->
    <CustomActionRef Id="RunAbsoluteIDCredentialSetup"/>

    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
    <Feature Id="Main">
      <ComponentGroupRef Id="CredentialSetupComponents" />
      <ComponentGroupRef Id="SystemComponents" />
      <ComponentGroupRef Id="RegistryComponents" />
    </Feature>
    <MediaTemplate EmbedCab="yes"/>
    <netfx:DotNetCompatibilityCheck
      Property="DOTNETRUNTIMECHECK"
      RollForward="major"
      RuntimeType="desktop"
      Platform="x64"
      Version="8.0.0"
    />
    <Launch
      Message="This application requires .NET 8.0 Desktop Runtime."
      Condition="Installed OR DOTNETRUNTIMECHECK"
    />
  </Package>
</Wix>
