<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <CustomAction Id="RunAbsoluteIDCredentialSetup"
                  Directory="INSTALLFOLDER"
                  ExeCommand="AbsoluteIDCredentialSetup.exe adduser [USERNAME]"
                  Execute="deferred"
                  Return="check"
                  Impersonate="yes" />
  </Fragment>
  <Fragment>
    <InstallExecuteSequence>
      <Custom Action="RunAbsoluteIDCredentialSetup" After="InstallFiles" Condition="NOT Installed"></Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
