<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <CustomAction Id="SetRunCredentialCA"
                  Property="RunAbsoluteIDCredentialSetup"
                  Value="adduser [USERNAME]"
                  Execute="immediate">
    </CustomAction>
    <CustomAction Id="RunAbsoluteIDCredentialSetup"
                  FileRef="AbsoluteIDCredentialSetupExeFile"
                  ExeCommand="[CustomActionData]"
                  Execute="deferred"
                  Return="check"
                  Impersonate="no" />
    
    <InstallExecuteSequence>
      <Custom Action="SetRunCredentialCA" After="InstallFiles"  Condition="NOT Installed"></Custom>
      <Custom Action="RunAbsoluteIDCredentialSetup" After="SetRunCredentialCA" Condition="NOT Installed"></Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
