<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <CustomAction Id="SetRunCredentialCA"
                  Property="RunAbsoluteIDCredentialSetup"
                  Value="adduser [USERNAME] [CRED_PASSWORD]"
                  Execute="immediate" />
    <!-- Copy the property to CustomActionData for the deferred action -->
    <CustomAction Id="SetRunCredentialCAData"
                  Property="CustomActionData"
                  Value="[RunAbsoluteIDCredentialSetup]"
                  Execute="immediate" />
    <CustomAction Id="RunAbsoluteIDCredentialSetup"
                  FileRef="AbsoluteIDCredentialSetupExeFile"
                  ExeCommand="[CustomActionData]"
                  Execute="deferred"
                  Return="check"
                  Impersonate="no" />
    
    <InstallExecuteSequence>
      <Custom Action="SetRunCredentialCA" After="InstallFiles"  Condition="NOT Installed"></Custom>
      <Custom Action="SetRunCredentialCAData" After="SetRunCredentialCA" Condition="NOT Installed"/>
      <Custom Action="RunAbsoluteIDCredentialSetup" After="SetRunCredentialCA" Condition="NOT Installed"></Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
